---
layout: default
comments: true
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>
        
        <br>
        <div class="fb-share-button" data-href="http://yujiinlee.github.io{{ page.url }}" data-layout="button"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>
        
        <div class="fb-like fb-small" data-href="http://yujiinlee.github.io{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-share="false"></div>
        
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        </div>

</section>

<section class="single">
    <div class="post_content">

	    {{ page.content }}
    
    </div>  
    <div class="comments">
        
        <div class="fb-share-button" data-href="http://yujiinlee.github.io{{ page.url }}" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>
        
        <div class="fb-like" data-href="http://yujiinlee.github.io{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
        
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
    <div class="fb-comments" 
         data-href={{ site.url | append: page.url }}
         data-width="100%" 
         data-numposts="5" ></div>


</section>
