---
layout: default
comments: true
---
<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v22.0&appId=586022718504523"></script>


<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>
        
        <br>
            <div style="display: flex; align-items : center;">
                <div style="height: 20px; margin-right: 8px;" class="fb-like" data-href="http://yujiinlee.github.io{{ page.url }}" data-width="" data-layout="button_count" data-action="" data-size="" data-share="true"></div>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
             </div>
        </div>

</section>

<section class="single">
    <div class="post_content">

	    {{ page.content }}
    
    </div>  
    <div class="comments">
        
        <div style="display: flex; align-items : center;">
            <div style="margin-right: 8px;" class="fb-like" data-href="http://yujiinlee.github.io{{ page.url }}" data-width="" data-layout="button_count" data-action="" data-size="large" data-share="true"></div>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
        
    <div class="fb-comments" 
         data-href={{ site.url | append: page.url }}
         data-width="100%" 
         data-numposts="5" ></div>


</section>
