---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	{{ page.content }}
    
    <div class="comments">

         <div class="fb-share-button" data-href="http://yujiinlee.github.io" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyujiinlee.github.io%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>

        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">공유하기</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
    </div>

</section>